
NET "cin"			LOC = A8;
NET "progre"		LOC = D9;
NET "regre"			LOC = C4;
NET "reset" 		LOC = C9;

NET "a[0]"	LOC = T10;
NET "a[1]"	LOC = T9;
NET "a[2]"	LOC = V9;
NET "a[3]"	LOC = M8;


NET "sseg[0]"		LOC = M13;	// segmento CDP
NET "sseg[1]"		LOC = T17;	// segmento CA
NET "sseg[2]"		LOC = T18;	// segmento CB
NET "sseg[3]"		LOC = U17;	// segmento CC
NET "sseg[4]"		LOC = U18;	// segmento CD
NET "sseg[5]"		LOC = M14;	// segmento CE
NET "sseg[6]"		LOC = N14;	// segmento CF
NET "sseg[7]"		LOC = L14;	// segmento CG




NET "clk" LOC = "V10" | IOSTANDARD = "LVCMOS33";	// referencia del reloj
Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;	// controlador de frecuencia de reloj
